@import 'variables';
@import 'menu';

*{
    box-sizing: border-box;
}

body{
    @include background;
    background: $primary-color;
    color:#fff;
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}
h1,h2,h3{
    margin: 0;
    font-weight: 400;
    &.lg-heading{
        font-size: 4.5rem;
    }
    &.sm-heading{
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba( lighten($primary-color, 2), 0.5);
    }
}
a{
    color: #fff;
    text-decoration: none;
}
header{
    position: fixed;
    z-index: 2;
    width: 100%;
}
.text-secondary{
    color: $secondary-color;
}
main{
    padding: 4rem;
    min-height: calc(100vh - 80px);
    .icons{
        margin-top: 1rem;
    }
    a{
        padding: 0.4rem;
        &:hover{
            color: $secondary-color;
            @include transist();
        }
    }
    &#home{
        overflow: hidden;
        h1{
            margin-top: 20vh;
        }
    }
    
}
.about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas:
      'bioimage bio bio'
      'job1 job2 job3';
    grid-template-columns: repeat(3, 1fr);
  
    .bio-image {
      grid-area: bioimage;
      margin: auto;
      border-radius: 50%;
      border: $secondary-color 3px solid;
      width: 300px;
      height: 300px;
    }
  
    .bio {
      grid-area: bio;
      font-size: 1.5rem;
    }
  
    .job-1 {
      grid-area: job1;
    }
  
    .job-2 {
      grid-area: job2;
    }
  
    .job-3 {
      grid-area: job3;
    }
  
    .job {
      background: lighten($primary-color, 5);
      padding: 0.5rem;
      border-bottom: $secondary-color 5px solid;
    }
  }
  // Work Styling
  .projects{
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(3 , 1fr);

      img{
          height: 200px;
          width: 100%;
          border: 3px #fff solid;
          &:hover{
              opacity: 0.5;
              border-color: $secondary-color;
              @include transist;
          }
      }
  }
  .contactForm{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 20px;
    margin-bottom: 100px;
    
    
     }
  
  
  input{
    padding: 10px;
    margin:10px;
    width: 80%;
    background-color:#3a3533;
    color: #fff ;
    border: none;
    outline:none;
  }

  input::placeholder{
    color: #fff ;
    font-size: 12px;
  }

   textarea{
  padding: 10px;
  margin: 10px;     
  width: 80%;
  background-color:#3a3533;
  color: #fff ;
  border: none;
  outline:none;
 }
 textarea::placeholder{
   color: #b5ad96 ;
 }
 
  

  .submit{
  width: 60%;
  background-color:#3a3533 ;
  padding: 4px;
  outline: none;
  border: 2px solid #fff ;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 33px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  margin-left: 3%;
  margin-left: 12px;

    &:hover{
    background: $secondary-color;
    @include transist;
    border-color: $secondary-color;
      border: 1px solid #fff;
   
    cursor: pointer;
    
 
    }
  
  
}

 
.contactHeader{
    font-size: 24px;
    margin-top: 100px;
    margin-left: 30px;
}
.nameWarning{
    font-size: 15px;
    color:#d6210d ;
    margin-left: 20px;
}

.emailWarning{
    font-size: 15px;
    color:#d6210d ;
    margin-left: 20px;
}
.subjectWarning{
    font-size: 15px;
    color:#d6210d ;
    margin-left: 20px;
}
.messageWarning{
    font-size: 15px;
    color:#d6210d ;
    margin-left: 20px;
}
  .main-footer{
      text-align: center;
      padding: 1rem;
      background: darken($primary-color, 10);
      color: #fff;
      height: 80px;
  }
  @import 'mobile';